@{
    ViewData["Title"] = "Home Page";
}
<!-- App hero header starts -->
<div class="app-hero-header d-flex align-items-center">
	<!-- Breadcrumb start -->
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<i class="bi bi-house lh-1 pe-3 me-3 border-end border-dark"></i>
			<a href="index.html" class="text-decoration-none">Home</a>
		</li>
		<li class="breadcrumb-item text-secondary" aria-current="page">
			Index
		</li>
	</ol>
	<!-- Breadcrumb end -->
	

</div>
<!-- App Hero header ends -->
<!-- App body starts -->
<div class="app-body">

	<!-- Row start -->
	<div class="row gx-3">
		<div class="col-xxl-12">
			<div class="card mb-3">
				<div class="card-header d-flex justify-content-between align-items-center">
					<h5 class="card-title">Index</h5>
					
				</div>
				<div class="card-body">
					<!-- Row start -->
					<div class="row gx-3">
						
					</div>
					<!-- Row ends -->
				</div>
			</div>
		</div>
	</div>
	<!-- Row ends -->
</div>
<!-- App body ends -->